<p class="titleTwo">4.6.2 其他来源监测</p>

<ul class="show">
  <li>
  应用被安装之后，即可被来自广告系列、网站或其他应用的引荐所启动，启动时需携带referrer参数。需在MainActivity的onCreate中调用setCampaignParams，参数值即为referrer参数值。</li>
  <li>
  	第三方app启动示例：可在第三方app启动第一方app的代码中增加Intent参数referrer，并在第一方MainActivity的onCreate中调用void setCampaignParams(String params),params即为intent参数referrer值。</li>
  <li>
  	<b>代码示例</b>
  </li>
  <li>
     第三方：
  </li>    
  <li>
       Intent intent = new Intent(Intent.ACTION_MAIN); </li>
   <li>    intent.putExtra("referrer","utm_source=test_source&utm_medium=test_medium&utm_term=test_term & utm_content=test_content&utm_campaign=test_name"); </li>
<li>intent.setComponent(new ComponentName("com.package.address","com.package.address.MainActivity")); </li>
 <li>
startActivity(intent); 
  </li>
  <li>
     第一方：
  </li>
  <li>
String referrer = this.getIntent().getStringExtra("referrer");</li>
<li>
if(referrer != null){</li>
<li>
    getTracker().setCampaignParams(referrer);
}
  </li>
  <li>
  	H5启动示例：referrer参数值取自Sass平台渠道URL 中utm_source参数部分， 然后调用setCampaignParams。
  </li>
</ul>
