<p class="titleTwo">4.5 自定义变量</p>

<ul class="show">
  <li>
 调用接口：void setCustomVariable(int index, String name, String value, String scope)
  </li>
  <li>
  <table border="1px" cellpadding="0" cellspacing="0" width="900" >
  	 <tr>
  	 	<th width="33%">参数名</th>
  	 	<th width="33%">类型</th>
  	 	<th width="33%">说明</th>
  	 </tr>
  	 <tr>
  	 	<td>Index</td>
  	 	<td>整型</td>
  	 	<td>目前只支持5个自定义变量，索引从1-5。<br>可重复针对同一个索引调用该函数，新值<br>覆盖旧值。</td>
  	 </tr>
  	 <tr>
  	 	<td>Name</td>
  	 	<td>字符串</td>
  	 	<td>变量名</td>
  	 </tr>
     <tr>
       <td>Value</td>
       <td>字符串</td>
       <td>变量值，可空</td>
     </tr>
     <tr>
       <td>Scope</td>
       <td>字符串</td>
       <td>当前值仅为visit</td>
     </tr>
  </table>
  </li>
  <li>
  	setCustomVariable把一个name-value对放在app级别（随着app销毁而销毁），以至于把调用该函数后的埋点数据归因到name-value对。</li>
    <li>
  	<b>示例代码</b></li>
    <li>
    setCustomVariable(1,“campaignName”,“SpringSales”,“visit”) 
  </li>
</ul>
