<p class="titleOne">CheckList</p>
<ul class="show">
    <li class="show11111">
        1.  partner为weiying,tableName为weiying_tracking_app_bhv，用于确定埋点数据来源。
    </li>
    <li>
        2.  请求URL。
    <ul class="urlli">
       <li>开发阶段请用测试地址</li>
       <li>  <b>测试地址：</b></li>
       <li>  <a href="http://apitest.fosun.com/de-track/trackings">http://apitest.fosun.com/de-track/trackings</a></li>
       <li>  <a href="https://apitest.fosun.com/de-track/trackings">https://apitest.fosun.com/de-track/trackings</a></li>
       <li>  <b>生产地址：</b></li>
       <li>  <a href="http://tracking.fosun.com/de-track/trackings">http://tracking.fosun.com/de-track/trackings</a></li>
       <li>  <a href="https://tracking.fosun.com/de-track/trackings">https://tracking.fosun.com/de-track/trackings</a></li>
    </ul>
    </li>
    <li>
        3.  后续步骤针对Android Studio，对于其他开发环境类似。
    </li>
    <li>
       4.   集成SDK库。
    </li>
    <li>
       5.   编写自定义Application。
    </li>
    <li>   
       6.   修改Manifest.xml。
    </li>
     <li>   
       7.   开始埋点。
    </li>
</ul>
