<p class="titleTwo">4.2 自定义事件</p>

<ul class="show">
  <li>
  调用接口：void trackEvent(String path, String urlRef, String category, String action, Map &lt;String, String&gt; customData)
  </li>
  <li>
  <table  border="1px" cellpadding="0" cellspacing="0" width="900" >
  	 <tr>
  	 	<th width="33%">参数名</th>
  	 	<th width="33%">类型</th>
  	 	<th width="33%">说明</th>
  	 </tr>
  	 <tr>
  	 	<td>path</td>
  	 	<td>字符串</td>
  	 	<td>当前页面路径，允许空值</td>
  	 </tr>
  	 <tr>
  	 	<td>urlRef</td>
  	 	<td>字符串</td>
  	 	<td>前一个页面路径，允许空值</td>
  	 </tr>
     <tr>
       <td>category(分类)</td>
       <td>字符串</td>
       <td>固定值click</td>
     </tr>
     <tr>
       <td>action(行为)</td>
       <td>字符串</td>
       <td>SAAS平台管理中的事件code</td>
     </tr>
  	 <tr>
  	 	<td>customData</td>
  	 	<td>Map&lt;String,String&gt;</td>
  	 	<td>自定义参数，允许null</td>
  	 </tr>
  </table>
  </li>
  <li>
  	trackEvent用于跟踪页面的行为交互。</li>
    <li>
  	<b>示例代码</b>
  </li>
  <li>
  	<img src="/images/templ/Android_five2.png"/>
  </li>
</ul>
