<p class="titleOne">一.平台介绍</p>
<ul class="show">
     <li class="line_height">
        SaaS平台服务围绕“增长黑客”分析模型，以“发现问题、定位问题、解决问题”三个产品设计思路还原线上应用运营数据，本质上为您解决“增长用户”&“增长营收”的运营目的，真正帮助您“建设数据决策，实现数据方案型产品”；我们还提供不同角色权限可访问不同的数据模块，为您实现数据模块的权限隔离；
    </li>
    <li>
         <ul class="set_margin">
                <li>
             1. 通过“整体概览”方便管理层<b>发现应用运营问题</b>；
               </li>
               <li>
             2. 通过“用户分析”、“行为分析-漏斗分析、使用分析”快速<b>定位应用运营问题</b>；
              </li>
             <li class="line_height">
             3. 通过“渠道分析”、“活动分析”、“功能分析”、“内容分析”、“画像分析”模块实现追溯并帮助其渠道部、市场部、产品设计部、内容运
               营部<b>解决应用运营问题</b>；
             </li>
             <li>
             4. 通过“权限管理”模块实现自配置用户、自配置角色，配置不同用户可以访问不同动作模块；
            </li>  
         </ul>
    </li>
    <li> 
      后续，平台会逐步更新迭代，深度结合机器学习算法库，为用户提供全面的高效数据预测，驱动自身产品的智能化升级与创新。
    </li>
</ul>
