<p class="titleTwo">7.2 安装后来源监测</p>

<ul class="show">
    <li>
      用在安装之后，即可被来自广告系列、网站或其他应用的引荐所启动。启动后需检测广告来源，调用sendCampaign。
    </li>
    <li>
     <table border="1px" cellpadding="0" cellspacing="0">
        <tr>
          <th >描述</th>
          <th colspan="5">外部调用接口</th>
        </tr>
        <tr>
          <td >发布路径</td>
          <td colspan="5" > - (BOOL)sendCampaign:(NSString*)campaignURLString;</td>
        </tr>
        <tr>
          <td>调用说明</td>
          <td colspan="5" >需在ＡＰＰ内配置相应的ＳＣｈｅｍｅ，配置完成供外部程序调用</td>
        </tr>
        <tr>
          <td  rowspan="2">输入参数</td>
          <td>参数变量</td>
              <td>参数名称</td>
              <td>类型</td>
              <td>参数说明</td>
              <td>必须</td>
        </tr>
        <tr>
          
          <td>Appdelegate内<br>部抓取</td>
              <td>campaignURLString</td>
              <td>NSString</td>
              <td>值满足URL查询参数格<br>式?utm_source=test_s<br>ource&utm_medium=tes<br>t_medium&utm_term=te<br>st_term&utm_content=<br>test_content&utm_cam<br>paign=test_name, 可只传部分参数</td>
              <td></td>
        </tr>
      </table>
    </li>
    <li>
      调用示例：
    </li>
    <li>
    	<img src="/images/templ/ios_seven2.png"/>
    </li>
</ul>

