<p class="titleOne">2 页面统计</p>

<ul class="show">
    <li>
      <table border="1px" cellpadding="0" cellspacing="0">
      	<tr>
      		<th >描述</th>
      		<th colspan="5">页面统计接口</th>
      	</tr>
      	<tr>
      		<td >发布路径</td>
      		<td colspan="5" >- (void)trackScreen:(NSString *)path URLRef:(NSString*)urlref <br>customData:(NSDictionary*)params;</td>
      	</tr>
      	<tr>
      		<td>调用说明</td>
      		<td colspan="5" >在viewDidAppear方法里调用</td>
      	</tr>
      	<tr>
      		<td  rowspan="4">输入参数</td>
      		<td>参数变量</td>
              <td>参数名称</td>
              <td>类型</td>
              <td>参数说明</td>
              <td>必须</td>
      	</tr>
        <tr>
          
          <td>路径</td>
              <td>Path</td>
              <td>NSString</td>
              <td>当前路径参数</td>
              <td>是</td>
        </tr>
        <tr>
          
          <td>路径</td>
              <td>Urlref</td>
              <td>NSString</td>
              <td>上页路径参数</td>
              <td>是</td>
        </tr>
        <tr>
          
          <td>关键字</td>
              <td>Params</td>
              <td>NSDictio<br>nary</td>
              <td>用户自定义参数</td>
              <td>否</td>
        </tr>
      </table>
    </li>
    <li>
      调用示例：
    </li>
    <li><img src="/images/templ/ios_second.png"/>
    </li>
</ul>

