<p class="titleTwo">1.5 添加编译参数</p>

<ul class="show">
  <li>
     <b>1、添加Linking参数：</b>
	  <div style="height:10px;width:100px;background-color:white;z-index:9999999"></div>
     <ul>
     	<li>
     		1）找到Linking设置
     	</li>
     	<li>
     		2）在Other Linker Flags 中添加 -ObjC 参数，请注意大小写
     	</li>
     </ul>
  </li>
  <li>
	  <ul>
		  <li>
			  提醒：<br>
			  Linking 设置位于 项目设置 target -> 选项卡 Build Settings，左上角选择 All。
		  </li>
	  </ul>
  </li>
  <li>
  	<b>2、添加Macro参数：</b>
	<div style="height:10px;width:100px;background-color:white;z-index:9999999"></div>
  	<ul>
     	<li>
     		1）添加FONOVA_ANALYTICS_IDFA=1
     	</li>
     	<li>
     		<img src="/images/templ/ios_first5.png"/>
     	</li>
     </ul>
  </li>
  <li>
	  <ul>
		  <li>
			  用于获取IDFA，但根据 App Store 的审核条款，打开该选项采集 IDFA 却未集成任何广告服务的 App，可能会在审核时受阻。
		  </li>
		  <li>
			  提醒：<br>
			  Macro 设置位于 项目设置 target -> 选项卡 Build Settings，左上角选择 All。
		  </li>
	  </ul>
  </li>
  <li>
  </li>
</ul>
