<ul class="show">
    <li>
        <span class="title1">一. 新增功能</span>
        <br>
        <ul class="content1">
            <li>
                <span class="title2">1.1整体概览：</span>
                <ul class="content2">
                    <li>
                        1. 新增用户趋势图表中“活动标记”，用户可以在查看流量趋势时，清晰辨识是否有举办活动，从而判断流量高低是否由于举办活动产生的影响；
                    </li>
                    <li>
                        2. 新增用户趋势图表中“版本标记”，用户可以在查看流量趋势时，清晰辨识是否有新版本上线，从而判断流量高低是否由于新版本上线产生的影响；
                    </li>
                    <li>
                        3. 新增用户趋势图表中“波峰波谷”，用户可以在查看流量趋势时，清晰辨识是否有波动点，从而展现流量告警；
                    </li>
                </ul>
            </li>
            <li>
                <span class="title2">1.2用户分析：</span>
                <ul class="content2">
                    <li>
                        1. 新增用户趋势图表中“活动标记”，用户可以在查看流量趋势时，清晰辨识是否有举办活动，从而判断流量高低是否由于举办活动产生的影响；
                    </li>
                    <li>
                        2. 新增用户趋势图表中“版本标记”，用户可以在查看流量趋势时，清晰辨识是否有新版本上线，从而判断流量高低是否由于新版本上线产生的影响；
                    </li>
                    <li>
                        3. 新增用户趋势图表中“波峰波谷”，用户可以在查看流量趋势时，清晰辨识是否有波动点，从而展现流量告警；
                    </li>
                </ul>
            </li>
            <li>
                <span class="title2">1.3权限管理：</span>
                <ul class="content2">
                    <li>
                        1. 新增超级管理员可以在产品中分配用户，便于不同的用户访问使用；
                    </li>
                    <li>
                        2. 新增超级管理员可以在产品中分配角色，便于不同的角色使用不同的动作模块；
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <li>
        <span class="title1">二. 功能优化</span>
        <br>
        <ul class="content1">
            <li>
                <span class="title2">2.1全局优化：</span>
                <ul class="content2">
                    <li>
                        1. 升级浏览器兼容性，增加对Chrome和Firefox多版本的支持；
                    </li>
                </ul>
            </li>
            <li>
                <span class="title2">2.2行为分析：</span>
                <ul class="content2">
                    <li>
                        1. 升级使用分析模块中使用时长单位规则处理（小于等于1分钟时，单位为秒；大于1分钟小于60分钟，单位为分钟；大于等于60分钟，单位为小时；大于等于24小时，单位为天）；
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>