<ul class="show">
    <li>
        <span class="title1">一. 数据升级</span>
        <br>
        <ul class="content1">
            <li>
                <span class="title2">1.1整体概览：</span>
                <ul class="content2">
                    <li>
                        1. 升级整体概览活跃用户计算规则；
                    </li>
                    <li>
                        2. 升级活跃用户在整体概览Banner中去重数据；
                    </li>
                </ul>
            </li>
            <li>
                <span class="title2">1.2用户分析：</span>
                <ul class="content2">
                    <li>
                        1. 升级用户分析中影响差异度分布，统一过去周期的计算规则；
                    </li>
                    <li>
                        2. 升级活跃用户在用户分析中去重数据；
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <li>
        <span class="title1">二. 功能升级</span>
        <br>
        <ul class="content1">
            <li>
                <span class="title2">2.1使用分析：</span>
                <ul class="content2">
                    <li>
                        1. 升级使用时长为平均使用时长，提升分析合理性；
                    </li>
                </ul>
            </li>
            <li>
                <span class="title2">2.2用户管理：</span>
                <ul class="content2">
                    <li>
                        1. 升级超级管理员配置普通用户姓名或邮箱后，普通用户可以使用姓名或邮箱登录访问系统；
                    </li>
                </ul>
            </li>
            <li>
                <span class="title2">2.3活动分析：</span>
                <ul class="content2">
                    <li>
                        1. 升级活动留存用户成本，按举办活动周期显示成本数据；
                    </li>
                    <li>
                        2. 升级活动付费用户成本，按举办活动周期显示成本数据；
                    </li>
                </ul>
            </li>
            <li>
                <span class="title2">2.4渠道分析：</span>
                <ul class="content2">
                    <li>
                        1. 升级渠道留存用户成本，按投放渠道周期显示成本数据；
                    </li>
                    <li>
                        2. 升级渠道付费用户成本，按投放渠道周期显示成本数据；
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>