<ul class="show">
    <li>
        <span class="title1">一. 新增功能</span>
        <br>
        <ul class="content1">
            <li>
                <span class="title2">1.1整体概览：</span>
                <ul class="content2">
                    <li>
                        1. 新增用户趋势图表中“全部用户”图表，全部用户包含：新增用户、活跃用户、注册用户、付费用户，方便用户通过全部模块浏览整体用户涨跌趋势；
                    </li>
                    <li>
                        2. 新增Banner中“新增用户”、“活跃用户”、“注册用户”、“付费用户”Tips提示；
                    </li>
                    <li>
                        3. 新增“用户趋势”Tips提示；
                    </li>
                </ul>
            </li>
            <li>
                <span class="title2">1.2用户分析：</span>
                <ul class="content2">
                    <li>
                        1. 新增“活跃用户”按每天、每月、过去7天、过去30天、过去60天去重规则；
                    </li>
                    <li>
                        2. 新增“选择时间”控件：按日-自定义-可选任意一天、按月-自定义-可选任意一月、过去7天、过去30天、过去60天；
                    </li>
                    <li>
                        3. 新增“影响差异度分布”Tips提示；
                    </li>
                    <li>
                        4. 新增“渠道差异比”Tips提示；
                    </li>
                    <li>
                        5. 新增“版本差异比”Tips提示；
                    </li>
                </ul>
            </li>
            <li>
                <span class="title2">1.3行为分析-漏斗分析：</span>
                <ul class="content2">
                    <li>
                        1. 新增“渠道差异比”Tips提示；
                    </li>
                    <li>
                        2. 新增“版本差异比”Tips提示；
                    </li>
                </ul>
            </li>
            <li>
                <span class="title2">1.4行为分析-使用分析：</span>
                <ul class="content2">
                    <li>
                        1. 新增“影响差异度分布”Tips提示；
                    </li>
                    <li>
                        2. 新增“渠道差异比” Tips提示；
                    </li>
                    <li>
                        3. 新增“版本差异比” Tips提示；
                    </li>
                </ul>
            </li>
            <li>
                <span class="title2">1.5自定义管理-事件组管理：</span>
                <ul class="content2">
                    <li>
                        1. 新增事件组管理，用户可自定义监测及分析的业务事件；
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <li>
        <span class="title1">二. 功能优化</span>
        <br>
        <ul class="content1">
            <li>
                <span class="title2">2.1全局优化：</span>
                <ul class="content2">
                    <li>
                        1. 升级浏览器兼容样式调优；
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>