<ul class="show">
    <li>
        <span class="title1">一. 新增功能</span>
        <br>
        <ul class="content1">
            <li>
                <span class="title2">1.1整体概览：</span>
                <ul class="content2">
                    <li>
                        1. 新增时间维度：以“今日、近7日、近30日”统计；
                    </li>
                    <li>
                        2. 新增“新增用户”：安装应用后首次启用应用的用户；
                    </li>
                    <li>
                        3. 新增“活跃用户”：启动过一次的用户；
                    </li>
                    <li>
                        4. 新增“注册用户”：注册成功后的用户；
                    </li>
                    <li>
                        5. 新增“付费用户”：购买过一次的用户，付费成功后的用户；
                    </li>
                    <li>
                        6. 新增“新增用户历史平均值”：数据对接进来至今天的新增用户／全部天数；
                    </li>
                    <li>
                        7. 新增“活跃用户历史平均值”：数据对接进来至今天的活跃用户／全部天数；
                    </li>
                    <li>
                        8. 新增“注册用户历史平均值”：数据对接进来至今天的注册用户／全部天数；
                    </li>
                    <li>
                        9. 新增“付费用户历史平均值”：数据对接进来至今天的付费用户／全部天数；
                    </li>
                    <li>
                        10. 新增“累计用户”：数据对接进来至今天的累积新增用户相加；
                    </li>
                    <li>
                        11. 新增“累计注册用户”：数据对接进来至今天的注册用户相加；
                    </li>
                    <li>
                        12. 新增“累计付费用户”：数据对接进来至今天的付费用户相加；
                    </li>
                </ul>
            </li>
            <li>
                <span class="title2">1.2用户分析：</span>
                <ul class="content2">
                    <li>
                        1. 新增用户类型筛选，以“新增用户、活跃用户、注册用户、付费用户”类型筛选；
                    </li>
                    <li>
                        2. 时间维度：以“T+1自定义选择”，对比周期以“过去7天/30天/60天平均值”；
                    </li>
                    <li>
                        3. 新增用户对比功能，不同用户类型 在“周期内的人数”和“过去平均值”比较；当周期选择1天时，以“小时段”显示，与之比较的为“过去时段中的平均值”；当周期选择等于或大于2天时，以“日”显示，与之比较的为“过去天数的平均值”；
                    </li>
                    <li>
                        4. 新增影响度分布，不用用户类型在时间周期下的“渠道&版本”影响度分布；默认为全部：显示所有渠道影响面积差&所有活动影响面积差；当选择渠道时，动态显示所有渠道影响面积差；当选择渠道时，动态显示所有渠道影响面积差；
                    </li>
                    <li>
                        5. 新增渠道差异值&差异率，用户在各个渠道中的“周期人数”和“过去平均值”比较差异值和差异率；
                    </li>
                    <li>
                        6. 新增版本差异值&差异率，用户在各个版本中的“周期人数”和“过去平均值”比较差异值和差异率；
                    </li>
                </ul>
            </li>
            <li>
                <span class="title2">1.3行为分析-漏斗分析：</span>
                <ul class="content2">
                    <li>
                        1. 新增单个事件组由多个事件步骤构成；事件&事件组可在自定义管理模块中定义；
                    </li>
                    <li>
                        2. 新增时间维度：以“T+1自定义选择”，对比周期以“过去7天/30天/60天平均值”；
                    </li>
                    <li>
                        3. 新增访问人数：统计每步事件在“周期内的访问人数”和“过去平均值”比较；
                    </li>
                    <li>
                        4. 新增步骤转化率：统计每步事件访问人数、流失用户、单步转化率、整体转化率；
                    </li>
                    <li>
                        5. 新增渠道分布差异值&差异率：默认为事件组在各个渠道中的“周期访问人数”&“过去平均值”比较的差异值&差异率；当选择单步事件时，统计各个渠道中的“ 周期访问人数”&“过去平均值”比较的差异值&差异率；
                    </li>
                    <li>
                        6. 新增版本分布差异值&差异率：默认为事件组在各个版本中的“周期访问人数”&“过去平均值”比较的差异值&差异率；当选择单步事件时，统计各个版本中的“ 周期访问人数”&“过去平均值”比较的差异值&差异率；
                    </li>
                </ul>
            </li>
            <li>
                <span class="title2">1.4行为分析-使用分析：</span>
                <ul class="content2">
                    <li>
                        1. 新增使用分析由启用次数、使用时长两类统计；
                    </li>
                    <li>
                        2. 新增时间维度：以“T+1自定义选择”，对比周期以“过去7天/30天/60天平均值”；
                    </li>
                    <li>
                        3. 新增启用次数：“周期内的启用次数”和“过去7天/30天/60天平均启用次数”比较；当周期选择1天时，以“小时段”显示，与之比较的为“过去天数中的时段平均值”；当周期选择等于或大于2天时，以“日”显示，与之比较的为“过去天数的平均值”；
                    </li>
                    <li>
                        4. 新增使用时长：“周期内的使用时长”和“过去7天/30天/60天平均使用时长”比较；当周期选择1天时，以“小时段”显示，与之比较的为“过去天数中的时段平均值”；当周期选择等于或大于2天时，以“日”显示，与之比较的为“过去天数的平均值”；
                    </li>
                    <li>
                        5. 新增影响度分布：“启用次数&使用时长”在“时间周期下的“渠道&版本”影响度分布；默认为全部：显示所有渠道影响面积差&所有活动影响面积差；当选择渠道时，动态显示所有渠道影响面积差；当选择渠道时，动态显示所有渠道影响面积差 ；
                    </li>
                    <li>
                        6. 新增渠道差异值&差异率：“启用次数&使用时长”在各个渠道中的“周期人数”和“过去平均值”比较差异值和差异率；
                    </li>
                    <li>
                        7. 新增版本差异值&差异率：“启用次数&使用时长”在各个版本中的“周期人数”和“过去平均值”比较差异值和差异率；
                    </li>
                </ul>
            </li>
            <li>
                <span class="title2">1.5渠道分析：</span>
                <ul class="content2">
                    <li>
                        1. 新增时间维度：以“T+1自定义选择”；渠道由自定义管理模块设定；
                    </li>
                    <li>
                        2. 新增渠道用户比：周期内单个渠道的单类用户占全部渠道的单类用户比；
                    </li>
                    <li>
                        3. 新增渠道新增用户成本：渠道新增用户成本＝投放金额/新增用户；
                    </li>
                    <li>
                        4. 新增渠道活跃用户成本：渠道活跃用户成本＝投放金额/新增用户；
                    </li>
                    <li>
                        5. 新增渠道留存用户成本分两步处理：
                        <ul class="content3">
                            <li>
                                5.1留存用户成本：日留存>2天，周留存>2周，月留存>2月；<br>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;日留存用户：（第一天新增用户在第二天登录过的人数），以日存储次日留存用户；<br>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;周留存用户：（第一周新增用户在第二周登录过的人数）；<br>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;月留存用户：（第一月新增用户在第二月登录过的人数）；
                            </li>
                            <li>
                                5.2留存用户成本：日留存用户成本＝每日投放金额/日留存用户；<br>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;周留存用户成本：周投放金额/周留存用户；<br>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;月留存用户成本：月投放金额/月留存用户；
                            </li>
                        </ul>
                    </li>
                    <li>
                        6. 新增付费用户成本：日付费＝1天，周付费>1周，月付费>1月；<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;付费用户：每日购买过一次的用户；<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;日付费用户成本＝每日投放金额/日付费用户；<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;周付费用户成本：周投放金额/周付费用户；<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;月付费用户成本：月投放金额/月付费用户；
                    </li>
                </ul>
            </li>
            <li>
                <span class="title2">1.6活动分析：</span>
                <ul class="content2">
                    <li>
                        1. 新增时间维度：以“T+1自定义选择”活动由自定义管理模块设定；
                    </li>
                    <li>
                        2. 新增活动新增用户成本：活动新增用户成本＝投放金额/新增用户；
                    </li>
                    <li>
                        3. 新增活动活跃用户成本：活动活跃用户成本＝投放金额/新增用户；
                    </li>
                    <li>
                        4. 新增活动留存用户成本分两步处理：
                        <ul class="content3">
                            <li>
                                4.1留存用户成本：日留存>2天，周留存>2周，月留存>2月；<br>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;日留存用户：（第一天新增用户在第二天登录过的人数），以日存储次日留存用户；<br>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;周留存用户：（第一周新增用户在第二周登录过的人数）；<br>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;月留存用户：（第一月新增用户在第二月登录过的人数）；
                            </li>
                            <li>
                                4.2新增留存用户成本：日留存用户成本＝每日投放金额/日留存用户；<br>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;周留存用户成本：周投放金额/周留存用户；<br>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;月留存用户成本：月投放金额/月留存用户；
                            </li>
                        </ul>
                    </li>
                    <li>
                        5. 新增付费用户成本：日付费＝1天，周付费>1周，月付费>1月；<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;付费用户：每日购买过一次的用户；<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;日付费用户成本＝每日投放金额/日付费用户；<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;周付费用户成本：周投放金额/周付费用户；<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;月付费用户成本：月投放金额/月付费用户；
                    </li>
                </ul>
            </li>
            <li>
                <span class="title2">1.7画像分析：</span>
                <ul class="content2">
                    <li>
                        1. 新增可通过不同用户类型&不同维度、不同事件、不同周期进行多维交叉分析；
                    </li>
                    <li>
                        2. 新增用户类型：以“新增用户、活跃用户、注册用户、付费用户”类型筛选；
                    </li>
                    <li>
                        3. 新增维度：各个渠道&各个活动；
                    </li>
                    <li>
                        4. 事件：各个事件组；
                    </li>
                    <li>
                        5. 新增时间维度：以天“T+1自定义选择”，以月、季度、年，自定义选择；
                    </li>
                    <li>
                        6. 新增标签分类为：
                        <ul class="content3">
                            <li>
                                6.1设备型号，6.2 操作系统，6.3 屏幕分辨率，6.4 网络方式，6.5 运营商，6.6 年龄，6.7 性别，6.8 婚姻，6.9 教育，6.10 来源/省份/城市，6.11 职业，6.12 月收入，6.13 兴趣偏好，6.14 APP偏好；
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <span class="title2">1.8自定义管理-渠道管理：</span>
                <ul class="content2">
                    <li>
                        1. 新增渠道管理：
                        <ul class="content3">
                            <li>
                                1.1 新建渠道：渠道起止日期、起止时间段、渠道URL、渠道名称、投放金额；
                            </li>
                        </ul>
                    </li>
                    <li>
                        2. 编辑渠道：同新建渠道字段；
                    </li>
                    <li>
                        3. 删除渠道：删除后，所删渠道数据将无法访问；
                    </li>
                    <li>
                        4. 搜索渠道：可通过渠道名称检索；
                    </li>
                </ul>
            </li>
            <li>
                <span class="title2">1.9自定义管理-活动管理：</span>
                <ul class="content2">
                    <li>
                        1. 新增活动管理：
                        <ul class="content3">
                            <li>
                                1.1 线上活动：活动起止日期、起止时间段、活动主题、投入金额；
                            </li>
                            <li>
                                1.2 线下活动：活动起止日期、起止时间段、活动主题、投入金额、参与店铺；
                            </li>
                        </ul>
                    </li>
                    <li>
                        2. 编辑活动：同新建活动字段；
                    </li>
                    <li>
                        3. 删除活动：删除后，所删活动数据将无法访问；
                    </li>
                    <li>
                        4. 搜索活动：可通过活动名称检索。
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>