<ul class="show">
    <li>
        <span class="title1">一. 新增功能</span>
        <br>
        <ul class="content1">
            <li>
                <span class="title2">1.1产品帮助&升级日志：</span>
                <ul class="content2">
                    <li>
                        1. 新增通过平台浏览产品帮助文档，文档类型包含：产品功能使用、IOS接口埋点技术、Android接口埋点技术文档；
                    </li>
                    <li>
                        2. 新增通过平台浏览产品历史升级日志；
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <li>
        <span class="title1">二. 功能升级</span>
        <br>
        <ul class="content1">
            <li>
                <span class="title2">2.1全部模块：</span>
                <ul class="content2">
                    <li>
                        1. 升级全部图表的格式及单位的处理，提升了浏览便捷性；
                    </li>
                    <li>
                        2. 升级Android系统下自定义选择时间控件，数据未接入时（2017年5月16日前）和未到的日期不可操作；
                    </li>
                    <li>
                        3. 升级每张图表增加loading状态&暂无数据时展示占位图；
                    </li>
                </ul>
            </li>
            <li>
                <span class="title2">2.2事件组&事件管理：</span>
                <ul class="content2">
                    <li>
                        1. 升级配置事件及事件组之间多对多关联关系，一个事件组支持添加多个事件code&事件名称；一个事件支持对应多个事件组；
                    </li>
                </ul>
            </li>
            <li>
                <span class="title2">2.3用户管理：</span>
                <ul class="content2">
                    <li>
                        1. 升级客户账号的安全信息，加强客户数据安全性；
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>