<ul class="show">
    <li>
        <span class="title1">一. 新增功能</span>
        <br>
        <ul class="content1">
            <li>
                <span class="title2">1.1新增“功能分析-版本分析”：</span>
                <ul class="content2">
                    <li>
                        1.新增“版本新增用户”、“版本活跃用户”、“版本注册用户”、“版本付费用户”、“版本留存用户”图表；
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <li>
        <span class="title1">二. 功能升级</span>
        <br>
        <ul class="content1">
            <li>
                <span class="title2">2.1升级“选择控件”可点区域：</span>
                <ul class="content2">
                    <li>
                        1.热区覆盖：条件选择框+文本+icon区域；
                    </li>
                    <li>
                        2.应用模块：1）用户分析；2）行为分析-漏斗分析、使用分析；3）渠道分析；4）活动分析；5）画像分析；6）自定义管理；7）权限管理；
                    </li>
                </ul>
            </li>
            <li>
                <span class="title2">2.2升级“版本差异比”中的版本“从新至旧”排序：</span>
                <ul class="content2">
                    <li>
                        1. 排序规则：以埋点获取版本日期“从新至旧”；
                    </li>
                    <li>2. 应用模块：1）用户分析-新增/活跃/注册/付费用户；2）行为分析-漏斗分析、使用分析-启用次数/使用时长；</li>
                </ul>
            </li>
            <li>
                <span class="title2">2.3升级人群画像中“设备品牌”&“操作系统”规则”：</span>
                <ul class="content2">
                    <li>
                        1. 设备品牌：数据计算分两步，第一步：将单个小品牌用户相加后归类至单个大品牌（例：单个大品牌小米用户数＝小米4+小米5+小米红米＋小米Max用户数相加）；第二步：单个大品牌百分比＝（单个大品牌用户数／前十大品牌用户数相加）＊100%；
                    </li>
                    <li>
                        2.操作系统：数据计算分两步:
                        第一步：将单个小版本用户相加后归类至大版本（例：单个大版本如5.0-5.9用户数＝5.0+5.1+5.2+5.3+5.4+5.5+5.6+5.7+5.8+5.9用户数相加）；
                        第二步： 单个大版本百分比＝（单个大版本用户数／前十大版本用户数相加）＊100%；
                    </li>
                </ul>
            </li>
            <li>
                <span class="title2">2.4升级“人群画像”前端Ui样式：</span>
                <ul class="content2">
                    <li>
                        1.设备品牌、操作系统、屏幕分辨率、网络方式、运营商、年龄、性别、婚姻、教育、地域-省份/城市、职业、月收入、兴趣偏好、APP偏好；
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>