<div style="height:10px;width:100px;background-color: white"></div>
<p class="titleOne">二.开始准备</p>
<ul class="show">
    <li class="line_height">
        1. 我们将有工程师为您指导加载埋入SDK代码，帮助您创建其IOS/Android平台产品，即可采集实时、全部的用户行为数据；
    </li>
     <li>   
      2. 贴合自身产品属性，结合我们为您设定的“AARRR增长模型”，需在其自定义管理模块中设定渠道、活动、事件等指标；
    </li>
     <li>   
      3. 了解用户类型定义，目前平台默认的规则如下
    </li>
    <li> 
        <ul class="list1">
          <li>
           “新增用户”为：所选周期范围内，安装应用后首次启用应用的用户；
          </li>
          <li>  
           “活跃用户”为：所选周期范围内，至少启动过一次的用户；
         </li>
         <li> 
          “注册用户”为：所选周期范围内，有注册成功行为的用户；
         </li>
         <li>  
        “付费用户”为：所选周期范围内，有付费成功行为的用户；
         </li>
      </ul>
    </li>
    <li class="titleTwo" id="自定义渠道">
      1.自定义渠道
    </li>
    <li>        
        <ul class="show list1">
            <li>
          “渠道”作为引流的第一种方式，定义渠道投放周期，渠道名称，投入金额，可在其“渠道分析”中判断不同渠道之间优劣质量，帮助渠道部解决渠道投放策略；
            </li>
            <li>
              <img src="/images/temp/10.jpg"/>
            </li>
             <li>
                 <b>渠道管理具体功能及说明：</b>
             </li>
             <li>
                 渠道管理模块全局操作按钮：
             </li>
              <li>
                   <ul class="list2">
                      <li>
                       1.创建渠道：渠道名称、渠道URL、渠道Code
                     </li>
                      <li>
                       2.查看渠道：渠道名称、渠道URL、渠道Code
                      </li>
                      <li>
                       3. 新增渠道成本：渠道起止日期、选择渠道名称、投入金额
                      </li>
                      <li>
                        4. 搜索渠道：可通过渠道名称检索
                      </li>
                  </ul>
                </li>
                <li>
                    单选操作按钮：
                  </li>
                <li>
                    <ul class="list2">
                       <li>
                         1. 编辑渠道成本：渠道起止日期、选择渠道名称、投入金额
                       </li>
                        <li>
                         2. 删除渠道成本：删除后，所选渠道数据将不可访问
                        </li>
                    </ul>
                </li>
          </ul>
        </li>
        <li class="titleTwo" id="活动管理">
          2.活动管理
        </li>
        <li>
          <ul class="list1">
               <li>
                “活动”作为引流的第二种方式，用户可自定义活动举办周期，活动主题，投入金额，可在其”活动分析“中判断不同活动之间举办成果，帮助企业判断活动价值、提升活动举办策略；
                </li>
                <li>
                  <img src="/images/temp/11.jpg" width="850"/>
                </li>
                <li>
                  <b>活动管理具体功能及说明：</b>
                </li>
                <li>
                  1.新建活动；
                </li>
                <li>
                  2.线上活动：活动起止日期、起止时间段、活动主题、投入金额；
                </li>
                <li>
                 3.线下活动：活动起止日期、起止时间段、活动主图、投入金额、参与店铺；
                </li>
                <li>
                  4.编辑活动：同新建活动字段；
                </li>
                <li>
                  5.删除活动：删除后，所删活动数据将无法访问；
                </li>
                <li>
                  6.搜索活动：可通过活动名称检索；
                </li>
          </ul>
        </li>
        <li class="titleTwo" id="事件组管理">
          3.事件组管理
        </li>
        <li>
          <ul class="show list1">
                <li>
                 “事件组管理”可定义事件组名称、事件名称和事件Code，单个事件组由多个事件步骤构成，用户可通过定义后的事件在漏斗分析模块，定位用户行为事件转化情况，便于企业优化产品路径；
                </li>
                <li>
                  <img src="/images/temp/12.jpg" width="850"/>
                </li>
                <li>
                   1. 新建事件组：事件组名称、事件Code、事件名称，可添加多个事件Code&事件名称、可删除添加后的事件Code&事件名称
                </li>
                <li>
                  2. 编辑事件组：仅支持事件组名称编辑
                </li>
                <li>
                  3. 删除活动：删除后，所删事件组数据将无法访问
                </li>
                <li>
                  4. 搜索活动：可通过事件组名称检索
                </li>
          </ul>
        </li>
</ul>






