<p class="titleTwo">1.自定义渠道</p>

<ul class="show"><li style="margin-left: -85px;">“渠道”作为引流的第一种方式，定义渠道投放周期，渠道名称，投入金额，可在其“渠道分析”中判断不同渠道之间优劣质量，帮助渠道部解决渠道</li>
<li style="margin-left: -80px;">投放策略；</li>
 <div style="height:10px;width:100px;background-color: white"></div>
 <img src="/images/temp/10.jpg" style="margin-left: -80px;" width="850"/>
<ul class="show2">
<li class="show21">渠道管理具体功能及说明：</li>
<li class="font1">渠道管理模块全局操作按钮：</li>
</ul>
 <ul class="show3"><li class="font1">1. 创建渠道：渠道名称、渠道URL、渠道Code</li>
 <li class="font1">2. 查看渠道：渠道名称、渠道URL、渠道Code</li>
 <li class="font1">3. 新增渠道成本：渠道起止日期、选择渠道名称、投入金额</li>
 <li class="font1">4. 搜索渠道：可通过渠道名称检索</li>
 </ul>
 <ul class="show2"><li class="font1">单选操作按钮：</li></ul>
 <ul class="show3"><li class="font1">1. 编辑渠道成本：渠道起止日期、选择渠道名称、投入金额</li>
<li class="font1">2. 删除渠道成本：删除后，所选渠道数据将不可访问</li>
</ul>
</ul>

