<p class="titleThree">1.1整体概览</p>

<ul class="show">
    <li style="margin-left:-55px;">在“整体概览”里，可以监测应用实时、近期、和历史的整体用户、整体营收情况；</li>
    <img src="/images/temp/01.jpg" style="margin-left: -50px;" width="850"/>
    <ul class="show2">
    <li class="show21">整体概览指标说明：</li></ul>
    <ul class="show3">
    <li>1.  时间维度：以“今日、近期：近7日/近30日、历史”统计；</li>
    <li>2.“新增用户”为：所选周期范围内，安装应用后首次启用应用的用户；</li>
    <li>3.“活跃用户”为：所选周期范围内，至少启动过一次的用户；</li>
    <li>4.“注册用户”为：所选周期范围内，有注册成功行为的用户；</li>
    <li>5.“付费用户”为：所选周期范围内，有付费成功行为的用户；</li>
    <li>6.“新增用户历史平均值”＝数据对接进来至今天的新增用户／全部天数</li>
    <li>7.“活跃用户历史平均值”＝数据对接进来至今天的活跃用户／全部天数</li>
    <li>8.“注册用户历史平均值”＝数据对接进来至今天的注册用户／全部天数</li>
    <li>9.“付费用户历史平均值”＝数据对接进来至今天的付费用户／全部天数</li>
    <li>10.“累计用户”＝数据对接进来至今天的累积新增用户相加</li>
    <li>11.“累计注册用户”＝数据对接进来至今天的注册用户相加</li>
    <li>12.“累计付费用户”＝数据对接进来至今天的付费用户相加</li>
    <li>13. 用户在查看用户趋势时，能清晰辨识是否有新版本上线，从而判断流量高低是否由版本上线导致；版本标记：版本号、标记时间定义为版本上线起始日；</li>
    <li>14. 用户在查看用户趋势时，能清晰辨识是否有新活动，从而判断流量高低是否由举办活动导致 ；活动标记：活动名称、活动周期，标记时间为活动起始日；</li>
    <li>15. 用户查看用户趋势时，能清晰辨识是否有波动点，从而判断流量预警；波动点标记“与上一时期上下超出50%”、公式为：［ (本统计周期数据-<br/>上统计周期数据)/上统计周期数据× 100% )；默认全部用户：不做标记；当切换到新增用户、活跃用户、注册用户、付费用户时，标记：波动点；版本、活动；</li>
</ul>
</ul>