<p class="titleTwo">3.事件组管理</p>

<ul class="show">
    <li>“事件组管理”可定义事件组名称、事件名称和事件Code，单个事件组由多个事件步骤构成，用户可通过定义后的事件在漏斗分析模块，定位用户行为事件转化情况，便于企业优化产品路径； 
    </li>
    <img src="/images/temp/12.jpg" style="margin-left: -50px;" width="850"/>
    <ul class="show2">
    <li class="show21">事件组管理具体功能及说明：</li></ul>
    <ul class="show3">
    <li>1. 新建事件组：事件组名称、事件Code、事件名称，可添加多个事件Code&事件名称、可删除添加后的事件Code&事件名称</li>
    <li>2. 编辑事件组：仅支持事件组名称编辑</li>
    <li>3. 删除活动：删除后，所删事件组数据将无法访问 </li>
    <li>4. 搜索活动：可通过事件组名称检索</li>
</ul>
</ul>