<p class="titleThree">3.1渠道分析</p>

<ul class="show">
    <li style="margin-left:-55px;">在“渠道分析”里，为渠道部解决问题提供渠道用户比、渠道价值分布、渠道新增用户成本、渠道活跃用户成本、渠道留存用户成本、渠道付费用户成本数据；</li>
    <img src="/images/temp/05.jpg" width="850" style="margin-left: -50px;"/>
    <ul class="show2">
    <li class="show21">渠道分析指标说明：</li></ul>
    <ul class="show3">
    <li>1. 时间维度：以“T+1自定义选择”；渠道由自定义管理模块设定；</li>
    <li>2. 渠道用户比：周期内单个渠道的单类用户占全部渠道的单类用户比；</li>
    <li>3. 渠道新增用户成本：渠道新增用户成本＝投放金额/新增用户； </li>
    <li>4. 渠道活跃用户成本：渠道活跃用户成本＝投放金额/新增用户； </li>
    <li>5. 渠道留存用户成本分两步处理： </li></ul>
    <ul class="show4"><li>5.1 留存用户数：日留存>2天，周留存>2周，月留存>2月；</li>
    <li>日留存用户：（第一天新增用户在第二天登录过的人数），以日存储次日留存用户；</li>
    <li>周留存用户：（第一周新增用户在第二周登录过的人数）；</li>
    <li>月留存用户：（第一月新增用户在第二月登录过的人数）；</li>
    <li>5.2 留存用户成本：日留存用户成本＝每日投放金额/日留存用户；</li>
    <li>周留存用户成本：周投放金额/周留存用户；</li>
    <li>月留存用户成本：月投放金额/月留存用户； </li>
    </ul>
    <ul class="show3">
    <li>6. 付费数：日付费＝1天，周付费>1周，月付费>1月；</li>
    <li>付费用户：周期范围内产生过至少一次成功支付行为的用户； </li>
    <li>日付费用户成本＝每日投放金额/日付费用户；</li>
    <li>周付费用户成本：周投放金额/周付费用户；</li>
    <li>月付费用户成本：月投放金额/月付费用户；</li>
    </ul>
    </ul>
</ul>