<p class="titleThree">3.2活动分析</p>

<ul class="show">
    <li style="margin-left:-55px;">在“活动分析”里，为市场部解决问题提供活动价值分布、活动新增用户成本、活动活跃用户成本、活动留存用户成本、活动付费用户成本分析；</li>
    <img src="/images/temp/06.jpg" width="950" style="margin-left: -50px;"/>
    <ul class="show2">
    <li class="show21">活动分析指标说明：</li></ul>
    <ul class="show3">
    <li>1. 时间维度：以“T+1自定义选择”活动由自定义管理模块设定；</li>
    <li>2. 活动新增用户成本：活动新增用户成本＝投放金额/新增用户；</li>
    <li>3. 活动活跃用户成本：活动活跃用户成本＝投放金额/新增用户；</li>
    <li>4. 活动留存用户成本分两步处理： </li></ul>
    <ul class="show4">
    <li>4.1 留存用户数：日留存>2天，周留存>2周，月留存>2月；
    日留存用户：（第一天新增用户在第二天登录过的人数），以日存储次日留存用户；</li>
    <li>周留存用户：（第一周新增用户在第二周登录过的人数）；</li>
    <li>月留存用户：（第一月新增用户在第二月登录过的人数）；</li>
    <li>4.2 留存用户成本：日留存用户成本＝每日投放金额/日留存用户；</li>
    <li>周留存用户成本：周投放金额/周留存用户； </li>
    <li>月留存用户成本：月投放金额/月留存用户；</li> </ul>
    <ul class="show3">
    <li>5. 付费数：日付费＝1天，周付费>1周，月付费>1月；</li>
    <li>付费用户：周期范围内产生过至少一次成功支付行为的用户； </li>
    <li>日付费用户成本＝每日投放金额/日付费用户； </li>
    <li>周付费用户成本：周投放金额/周付费用户； </li>
    <li>月付费用户成本：月投放金额/月付费用户；</li>

   </ul>
</ul>