<p class="titleThree">3.3画像分析</p>

<ul class="show">
    <li style="margin-left:-55px;">在“画像分析”里，以全部用户类型、多维度、多事件交叉分析，为解决问题提供15组标签，包含设备型号、操作系统、屏幕分辨率、网络方式、运营商、年龄、性别、婚姻、教育、省份、城市、职业、月收入、兴趣偏好、APP偏好数据；</li>
    <img src="/images/temp/07.jpg" width="850" style="margin-left: -50px;"/>
    <ul class="show2">
    <li class="show21">画像分析指标说明：</li>
    </ul>
    <ul class="show3">
    <li>1. 可通过不同用户类型&不同维度、不同事件、不同周期进行多维交叉分析；<</li>
    <li>2. 用户类型：以“新增用户、活跃用户、注册用户、付费用户”类型筛选；</li>
    <li>3. 维度：各个渠道&各个活动； </li>
    <li>4. 事件：各个事件组；</li>
    <li>5. 时间维度：以天“T+1自定义选择”，以月、季度、年，自定义选择；</li>
    <li>6. 标签分类为：</li>
    <li>6.1 设备型号，6.2 操作系统，6.3 屏幕分辨率，6.4 网络方式，6.5 运营商，6.6 年龄，6.7 性别，6.8 婚姻，6.9 教育，6.10 来源/省份/城市，6.11 职业，6.12 月收入，6.13 兴趣偏好，6.14 APP偏好
    </li>
    </ul>
</ul>