<p class="titleFive"><span>2.2.1漏斗分析</span></p>

<ul class="show">
    <li>通过“漏斗分析”定位不同的行为事件在操作步骤中的转化情况，可以定位事件访问人数、步骤转化率、渠道分布差异比、版本分布差异比情况；</li>
    <img src="/images/temp/03.jpg" width="850" style="margin-left: -50px;"/>
    <ul class="show2">
    <li class="show21">漏斗分析指标说明： </li>
    </ul>
    <ul class="show3">
    <li>
        1. 单个事件组由多个事件步骤构成；事件&事件组可在自定义管理模块中定义（暂未开放，请联络管理员获得后台支持）；</li>
    <li>   2. 时间维度：以“T+1自定义选择”，对比周期以“过去7天/30天/60天平均值”；</li>
    <li>   3. 访问人数：统计每步事件在“周期内的访问人数”和“过去平均值”比较；</li>
    <li>   4. 步骤转化率：统计每步事件访问人数、流失用户、单步转化率、整体转化率； </li>
    <li>   5. 渠道分布差异率：默认为事件组在各个渠道中的“ 周期访问人数”&“过去平均值”，以及两者对比的差异率（-100%-+100%）；当选择单步事件时，统计各个渠道中的“ 周期平均访问人数”&“过去平均值”，以及两者对比的差异率（-100%-+100%）； </li>
    <li>    6. 版本分布差异率：默认为事件组在各个版本中的“ 周期访问人数”&“过去平均值”，以及两者对比的差异率（-100%-+100%）；当选择单步事件时，统计各个版本中的“ 周期平均访问人数”&“过去平均值”，以及两者对比的差异率（-100%-+100%）；</li>
    
    </ul>
</ul>

