<p class="titleThree">4.2角色管理</p>
<ul class="show">
    <li style="margin-left:-55px;">超级管理员可以在产品中分配角色，便于不同的角色使用不同的功能模块；</li>
    <img src="/images/temp/09.jpg" width="850" style="margin-left: -50px;"/>
    <ul class="show2">
    <li class="show21">角色管理指标说明：</li></ul>
    <ul class="show3">
    <li> 1. 新增角色：角色信息：角色名称、添加用户（选择用户、搜索用户），分配模块&动作；</li>
    <li>2. 查看角色：同新建角色字段、可编辑角色；</li>
    <li>3. 编辑角色：同新建角色字段；</li>
    <li>4. 删除角色：删除所选角色后，拥有该角色的用户将失去该角色的权限关联关系；</li>
    <li>5. 搜索角色：当搜索结果为空时，提示：暂无搜索记录；当搜索有数据时，高亮显示搜索关键词；
    </li>
    </ul>
</ul>
