<p class="titleThree">4.1用户管理</p>
<ul class="show">
    <li style="margin-left:-55px;">超级管理员可以在产品中分配用户，便于不同的用户访问使用；</li>
    <img src="/images/temp/08.jpg" width="850" style="margin-left: -50px;"/>
    <ul class="show2">
    <li class="show21">用户管理指标说明：</li></ul>
    <ul class="show3">
    <li>1. 新增用户：用户信息：用户名、邮箱、状态、手机号、添加角色（选择角色、搜索角色）；</li>
    <li>2. 查看用户：同新建用户字段、可编辑用户；</li>
    <li>3. 编辑用户：同新建用户字段； </li>
    <li>4. 删除用户：删除所选用户后，用户将不可访问平台；</li>
    <li>5. 搜索用户：当搜索结果为空时，提示：暂无搜索记录；当搜索有数据时，高亮显示搜索关键词；
    </li>
    </ul>
</ul>
