<p class="titleFive"><span>2.2.2使用分析</span></p>

<ul class="show">
    <li>通过“使用分析”定位启用次数、使用时长的影响度分布、渠道差异比、版本差异比情况；</li>
    <img src="/images/temp/04.jpg" style="margin-left: -50px;" width="850"/>
    <ul class="show2">
    <li class="show21">使用分析指标说明： </li></ul>
    <ul class="show3">
    <li>
        1. 使用分析由启用次数、使用时长两类统计；</li>
    <li>  2. 时间维度：以“T+1自定义选择”，对比周期以“过去7天/30天/60天平均值”； </li>
    <li>    3. 启用次数：“周期内的启用次数”和“过去7天/30天/60天平均启用次数”比较；
        当周期选择1天时，以“小时段”显示，与之比较的为“过去天数中的时段平均值”；
        当周期选择等于或大于2天时，以“日”显示，与之比较的为“过去天数的平均值”；
    </li>
    <li>    4. 平均使用时长：“周期内的平均使用时长”和“过去7天/30天/60天平均使用时长”比较；平均使用时长＝使用总时长/启用次数；当周期选择1天时，以“小时段”显示，与之比较的为“过去天数中的时段平均值”；
        当周期选择等于或大于2天时，以“日”显示，与之比较的为“过去天数的平均值”；
        </li>
    <li>    5. 差异度分布：“启用次数&平均使用时长”数值在“渠道&版本”中，与“启用次数&平均使用时长”过往平均数值的差异度高中低；（*例.当使用时长在1月1日突涨时，当天版本差异度显示高，渠道差异度显示低，则可定位问题为当天版本维度下使用时长数值有明显大波动，较过去30天平均水平差异度大，可后续通过“功能分析”页面进一步解析具体原因）；</li>
    <li>    6. 渠道差异率：“启用次数&平均使用时长”在各个渠道中的“周期平均数值”和“过去平均值”，以及两者对比的差异率（-100%-+100%）；</li>
     <li>   7. 版本差异率：“启用次数&平均使用时长”在各个版本中的“周期平均数值”和“过去平均值”以及两者对比的差异率（-100%-+100%）；</li>
    </ul>
</ul>
