<p class="titleThree">2.1用户分析</p>

<ul class="show">
    <li style="margin-left:-55px;">在“用户分析”中，通过用户对比、影响度分布、渠道分布差异比、版本分布差异比定位应用运营情况；</li>
    <img src="/images/temp/02.jpg" width="850" style="margin-left: -50px;"/>
    <ul class="show2">
        <li class="show21">用户分析指标说明</li>
    </ul>
    <ul class="show3">
    <li>1. 用户类型：以“新增用户、活跃用户、注册用户、付费用户”类型筛选；</li>
    <li>2. 时间维度：以“T+1自定义选择”，对比周期以“过去7天/30天/60天平均值”；</li>
    <li>3. 用户对比：不同用户类型 在“所选周期内的人数”和“过去平均值”比较；
    当周期选择1天时，以“小时段”显示，与之比较的为“过去时段中的平均值”；
    当周期选择等于或大于2天时，以“日”显示，与之比较的为“过去天数的平均值”；</li>
    </ul>
    <ul class="show4">
    <li>3.1 用户在查看用户趋势时，能清晰辨识是否有新版本上线，从而判断流量高低是否由版本上线导致；版本标记：版本号、标记时间定义为版本上线起始日；</li>

    <li>3.2 用户在查看用户趋势时，能清晰辨识是否有新活动，从而判断流量高低是否由举办活动导致 ；活动标记：活动名称、活动周期，标记时间为活动起始日；</li>

    <li>3.3 用户查看用户趋势时，能清晰辨识是否有波动点，从而判断流量预警；波动点标记“与上一时期上下超出50%”、公式为：［ (本统计周期数据-上统计周期数据)/上统计周期数据× 100% )；默认全部用户：不做标记；当切换到新增用户、活跃用户、注册用户、付费用户时，标记：波动点；版本、活动；</li>
    </ul>

    <ul class="show3">
    <li>4. 差异度分布：所选用户类型数量在“渠道&版本”中，与该类型用户过往平均数量的差异度高中低；（*例.当新增用户在1月1日暴跌时，当天渠道差异度显示高，版本差异度显示低，则可定位问题为当天渠道内新增用户数量有明显大波动，较过去7天平均水平差异度大，可后续通过“渠道分析”页面进一步解析具体原因）；</li>

    <li>5. 渠道差异率：所选用户类型数量在各个渠道中的“周期平均人数”和“过去x天平均值”，以及两者对比的差异率（-100%-+100%）；</li>
    <li>6. 版本差异率：所选用户类型数量在各个版本中的“周期平均人数”和“过去x天平均值”，以及两者对比的差异率（-100%-+100%）；</li>
    </ul>
</ul>