<ul class="show">
    <li>
        <span class="title">权限管理444</span>
        <br/>
        <span class="content">
            <ul>
                <li>1.角色管理: 更改了角色管理</li>
                <li>2.用户管理: 更改了用户管理</li>
                <li>3.用户组管理: 更改了用户组管理</li>
            </ul>
        </span>
    </li>
</ul>
<ul class="show">
    <li>
        <span class="title">活动监测444</span>
        <br/>
        <span class="content">
            <ul>
                <li>1.活动总览: 更改了活动总览</li>
                <li>2.活动分析: 更改了活动分析</li>
                <li>3.门店活动: 更改了门店活动</li>
            </ul>
        </span>
    </li>
</ul>