<p id="page2">平台介绍</p>
<ul class="show">
    <li>
        豫园平台产品服务于豫园商圈内的管理人，服务围绕“增长黑客”分析模型，以“发现问题、定位问题、解决问题”三个产品设计思路还原豫园运营数据,本质上为豫园解决“增长用户”&“增长营收”的运营目的，真正帮助豫园“建设数据决策, 促进业态营收”；我们还提供不同角色权限可访问不同的数据模块,为您实现数据模块的权限隔离;
    </li>
    <li>
        1．通过“首页”方便管理层实时发现园内客流问题，为引流做实时预警；
    </li>
    <li>
        2．通过“客流监测”快速定位客流质量，驻留时长，及复游问题；
    </li>
    <li>
        3．通过“活动监测”快速定位新客质量、活动质量、活动轨迹问题；
    </li>
    <li>
        4．通过“业态分析”快速定位店铺品类，行业分布、客流转化问题；
    </li>
    <li>
        5．通过“人群画像”实现追溯客流属性分布，解决引流、驻留、复游、消费运营问题；
    </li>
    <li>
        6．通过“自定义管理”模块实现自配置营销活动，管理销售额数据；
    </li>
    <li>
        7．通过“权限管理”模块实现自配置角色，自配置组，自配置用户、配置不同用户可以访问不同模块动作及浏览不同数据权限；
    </li>
    <li>   后续，平台会逐步更新迭代，深度结合机器学习算法库，为用户提供全面的高效数据预测，驱动自身产品的智能化升级与创新。</li>
</ul>


